# Get the release name
release_name="<%= @release.name %>"

# Get the current IP address using hostname command
current_ip=$(hostname -I | awk '{print $1}')

# Set the RELEASE_NODE environment variable
export RELEASE_NODE="${release_name}@${current_ip}"
